ul#menu-menyu-magazina {
	list-style-type: none;
}

ul#menu-menyu-magazina > li > a {
	position: relative;
	padding-left: 14px;
}

ul#menu-menyu-magazina > li > a::before {
	content: "+";
	position: absolute;
	top: 0;
	left: 0;
}
ul#menu-menyu-magazina > li.current-menu-item > a::before{
	content: "-";
}


ul#menu-menyu-magazina ul {
	display: none;
}