*{margin:0;padding:0;outline:none !important;box-shadow:none}body{font:normal 300 14px / 1.2 "Roboto", sans-serif;position:relative;background-color:#fff}h1,h2,h3,h4,h5,h6{font-weight:500 !important}p,td{font-weight:300 !important}

