body {
	margin: 0;
	padding: 0;
}
.mainImg {
	width: 80%;
	height: 100%;
	background-color: red;
	margin: 0 auto 100px;
	padding-top: 10px;
	overflow: hidden
}
.mainImg > img{
	
	margin-left: 10px;
	margin-bottom: 10px;
	display: block;
	float: left;
	/*transition: all .6s ease;*/
}
